<launch>

    <include file="$(find py3dx_gazebo)/launch/includes/one_robot.launch.xml">
        <arg name="robot_name" value="r1" />
        <arg name="initial_pose_x"  default="0.0"/>
        <arg name="initial_pose_y"  default="-0.5"/>
        <arg name="initial_pose_a"  default="+1.57"/>
        <arg name="localization" value="false" />
        <arg name="move_base" value="false" />
        <arg name="has_cam" value="true" />
    </include>
  
</launch>
